/* Banner Slider Styles */
.banner-slider-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 6px 32px 0 rgb(123, 31, 162, 0.1), 0 0.5px 2px 0 rgb(220, 220, 220, 0.06);
    margin-bottom: 2rem;
}

.banner-slider {
    position: relative;
    width: 100%;
    display: block;
}

.banner-slide {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 1.2s cubic-bezier(0.6,0,0.4,1);
    opacity: 0;
}

.banner-slide:first-child {
    position: relative;
    opacity: 1;
}

.banner-slide:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}

.banner-slide.active {
    opacity: 1;
    z-index: 2;
}

@media (max-width: 768px) {
    .banner-slider-wrapper {
        border-radius: 16px;
    }
}


